<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <a href="#main-content" class="visually-hidden">{{ header[locale].skipLink }}</a>

  <header>
    <a href="/{{ locale }}/" aria-label="{{ header[locale].goToHomepage }}">{{ site.name }}</a>

    <nav>
      {% set navPages = collections["all_" + locale] | eleventyNavigation %}
      <ul>
      {% for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>

    {% for key, text in site.locales %}
      {% if key != locale %}
      <a href="/{{ key }}/" title="{{ text }}">{{ key | upper }}</a>
      {% endif %}
    {% endfor %}
  </header>

  <main id="main-content" tabindex="-1">
    <div class="container">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    </div>
  </main>
</body>
</html>