<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <a href="#main-content">{{ header[locale].skipLink }}</a>

  <header>
    <a href="/{{ locale }}/" aria-label="{{ header[locale].goHomepage }}">
      {{ site.name }}
    </a>

    {% set navPages = collections["pages_" + locale] | eleventyNavigation %}
    {% if navPages.length > 0 %}
    <nav>
      <ul>
      {% for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
    {% endif %}

    {% for key, text in site.locales %}
      {% if key != locale %}
      <a href="/{{ key }}/" title="{{ header[key].changeLanguage }}">{{ text }}</a>
      {% endif %}
    {% endfor %}
  </header>

  <main id="main-content">
    <h1>{{ title }}</h1>

    {{ content | safe }}
  </main>
</body>
</html>