:root {
    --color-primary: #ff8887;
    --color-secondary: #4ae1ff;
    --color-text: #e3f5fb;
    --color-back: #044054;
}

html {
    box-sizing: border-box;
}

 *,
 ::before,
 ::after {
   box-sizing: inherit;
 }

body {
    margin: 0;
    background-color: var(--color-back);
    color: var(--color-text);
    font-size: 1.2rem;
}

h1 {
    font-size: 4rem;
}

a {
    color: var(--color-primary);
}

@import 'base/helpers'