html {
    box-sizing: border-box;
}

 *,
 ::before,
 ::after {
   box-sizing: inherit;
 }

body {
    margin: 0;

    background-color: #1b4f66;
    color: #e4bf45;

    font-size: 1.2rem;
}

h1 {
    font-size: 4rem;
}

@import 'base/helpers'