{% macro feed(items) %}
<div class="activity">
    {%- for item in items %}
      {% if item.data.type and item.data.type == "article" %}
        {% set content = item.data.summary %}
        {% set url = item.page.url %}
      {% else %}
        {% set content = item.content %}
        {% set url = item.data.link %}
      {% endif %}

      {% if item.data.type in ["article", "note", "photo"] %}
        {% set allMentions = item.url | getWebmentionsForUrl %}
        {% set allMentionsSize = allMentions.length %}
        
        {% set likes = allMentions | webmentionsByType('like-of') %}
        {% set likesSize = likes.length %}
        
        {% set mentions = allMentions | webmentionsByType('mention-of') %}
        {% set replies = allMentions | webmentionsByType('in-reply-to') %}
        {% set mentionsSize = mentions.length + replies.length %}
        {% for reply in replies %}
          {% set mentions = (mentions.push(reply), mentions) %}
        {% endfor %}
        
        {% set reposts = allMentions | webmentionsByType('repost-of') %}
        {% set repostsSize = reposts.length %}
      {% endif %}
      <div class="h-entry activity-card{% if item.data.type in ["article", "note", "photo"] %} mine{% endif %}" data-type="{{ item.data.type }}"{% if locale !== item.data.lang and item.data.lang != null %} lang="{{ item.data.lang }}"{% endif %}>
        <header class="activity-card__header mbe-m">
          <div class="activity-card__header-type">
            <span>{{ item.data.type }}</span>
          </div>
          <h2 class="activity-card__header-title">{{ item.data.title }}</h2>
          {% if item.data.date %}
          <span class="activity-card__header-date">
            <a href="{{ item.url }}"><time datetime="{{ item.data.date }}"><span>{{ item.data.date | formatDate(locale) }}</span> <span class="activity-card__header-date_time">{{ item.data.date | formatTime(locale) }}</span></time></a>
          </span>
          {% endif %}
        </header>
  
        <div class="activity-card__content flow">
          {{ content | renderMarkdown | safe }}
        </div>
  
        <footer class="activity-card__footer mbs-3xs">
          {% if not item.data.type in ["note", "photo"] %}
          <a href="{{ url }}" {% if locale !== item.data.lang %}hreflang="{{ item.data.lang }}"{% endif %}>
            {% if item.data.type in "article" %}
              Lire l'article
            {% else %}
              {{ url }}
            {% endif %}
          </a>
          {% endif %}
          {% if item.data.tags%}
          <p>
          {% for tag in item.data.tags %}
            <span class="tag">#{{ tag }}</span>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </p>
          {% endif %}
          {% if item.data.type in ["article", "note", "photo"] %}
          <div class="activity-card__social mbs-s">
            <ul class="activity-card__stats">
              <li>{{ likesSize }} Likes</li>
              <li>{{ repostsSize }} Reposts</li>
              <li>{{ mentionsSize }} Mentions</li>
            </ul>
              {% if item.data.syndication %}
            <p class="activity-card__syndications">
              <a class="u-syndication" href="{{ item.data.syndication }}">
                <svg fill="inherit" class="card__syndication-mastodon" height="24px" width="24px" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="comp_x5F_207-mastodon"><g><path d="M451.839,183.897c0-91.111-59.709-117.825-59.709-117.825c-58.584-26.902-214.185-26.622-272.206,0    c0,0-59.709,26.713-59.709,117.825c0,108.451-6.188,243.148,98.984,270.988c37.961,10.027,70.582,12.185,96.827,10.685    c47.617-2.624,74.331-16.967,74.331-16.967l-1.593-34.589c0,0-34.026,10.688-72.269,9.468    c-37.87-1.313-77.801-4.124-83.988-50.616c-0.563-4.124-0.843-8.436-0.843-13.029c80.237,19.589,148.661,8.531,167.504,6.28    c52.586-6.28,98.422-38.713,104.233-68.333C452.59,251.104,451.839,183.897,451.839,183.897L451.839,183.897z M381.443,300h-43.68    V194.207c0-46.586-59.992-48.367-59.992,6.468v58.584h-43.397v-58.584c0-54.835-59.991-53.054-59.991-6.468V300h-43.773    c0-114.449-4.874-137.382,17.247-162.784c24.277-27.09,74.801-28.87,97.297,5.718l10.873,18.278l10.873-18.278    c22.591-34.777,73.207-32.62,97.296-5.718C386.412,162.806,381.443,185.644,381.443,300L381.443,300z"/></g></g><g id="Layer_1"/>
                </svg>
                <span class="visually-hidden">Syndicated on Mastodon</span>
              </a>
            </p>
              {% endif %}
          </div>
          {% endif %}
        </footer>
      </div>
    {% endfor -%}
  </div>
{% endmacro %}