{% macro postList(number=3, headingLevel=2) %}
  {% set postList = collections["posts_" + locale] | reverse | head(number) %}
  {% for post in postList %}
  <article class="post-list__item{% if not loop.last %} mbe-l{% endif %}">
    <h{{ headingLevel }} class="mbe-0">{{ post.data.title }}</h{{ headingLevel }}>

    <div class="meta mbe-3xs">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="icon">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        {{ blog[locale].posted }} <time datetime="{{ post.data.date }}">{{ post.data.date | formatDate(locale) }}</time>
      </p>
      {% set ttr = post.content | timeToRead %}
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="icon">
          <circle cx="12" cy="12" r="10"></circle>
          <polyline points="12 6 12 12 16 14"></polyline>
        </svg>
        {{ blog[locale].timeToRead | interpolate({time: ttr}) }}
      </p>
    </div>
    {%- if post.data.summary %}
    {{ post.data.summary | renderMarkdown | safe }}
    {%- endif %}

    <a class="item__link mbs-3xs" href="{{ post.url }}">
      {{ blog[locale].readArticle }} <span class="visually-hidden">"{{ post.data.title }}"</span>
    </a>
  </article>
  {% else %}
  <p>{{ blog[locale].noPost }}</p>
  {% endfor %}
{% endmacro %}