<fieldset class="theme-selector">
  <legend class="visually-hidden">Choose a color theme:</legend>
  <ul class="themes-list">
  {% for theme in themes %}
    <li>
      <input id="mode-{{ theme.id }}" name="theme-selector" type="radio" value="{{ theme.id }}" class="theme-selector">
      <label for="mode-{{ theme.id }}">
        <span class="visually-hidden">Theme '{{ theme.name[locale] }}'</span>
        {% include "../../../assets/images/" + theme.icon + ".svg" %}
      </label>
    </li>
  {% endfor %}
  </ul>
</fieldset>