---
date: 2023-02-02T12:03:51.000Z
---

You can now add a Mastodon link to your GitHub account.

As GitHub automatically adds the rel="me" attribute on the link, go to your Mastodon profile, add your GitHub link, save and 🎉 your link is automatically verified

https://cdn.masto.host/indiewebsocial/media_attachments/files/109/795/034/387/879/820/original/cd973e2b8016323b.png
