<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
  <link rel="stylesheet" href="/assets/css/main.css">
  {% include "partials/meta.njk" %}
</head>
<body>
  <a href="#main-content" class="skip-link">
    {{ header[locale].skipLink }}
  </a>

  {% include "partials/header.njk" %}

  <main id="main-content" class="mb-xl">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.njk" %}
</body>
</html>