{% extends "layouts/base.njk" %}
{% import "partials/macros/post-list.njk" as pl with context %}

{% block content %}
  <div class="wrapper blog">
    <h1 class="mbe-m">{{ title }}</h1>

    <div class="blog__content mbe-xl">
      {{ content | safe }}
    </div>

    <div class="post-list pbs-xl">
      {{ pl.postList(5) }}
    </div>
  </div>
{% endblock %}