{% extends "layouts/base.njk" %}
{% import "partials/post_list.njk" as pl with context %}

{% block content %}
  <div class="wrapper flow intro mbe-xxl">
    <h1 class="mbe-xl">{{ title }}</h1>

    {{ content | safe }}
  </div>

  <div class="wrapper flow post-list">
    {{ pl.postList() }}
  </div>
{% endblock %}