{% extends "layouts/base.njk" %}
{% import "partials/post-list.njk" as pl with context %}

{% block content %}
  <div class="wrapper flow intro mbe-xl">
    <h1 class="mbe-xl">{{ title }}</h1>

    {{ content | safe }}
  </div>

  <div class="wrapper post-list">
    <h2 class="mbe-l">{{ blog[locale].latestPosts }}</h2>
    {{ pl.postList(3, 3) }}
  </div>
{% endblock %}