{% extends "layouts/base.njk" %}

{% block content %}
<article class="wrapper">
  <h1 class="mbe-xl">{{ title }}</h1>

  <div class="flow">
    {{ content | safe }}
  </div>
</article>
{% endblock %}