{% extends "layouts/base.njk" %}

{% block content %}    
    <article>
        <h1>{{ title }}</h1>
        {{ description | renderMarkdown | safe }}
        {{ content | safe }}
    </article>
{% endblock %}