{% extends "layouts/base.njk" %}

{% block content %}    
    <article class="post">
        <h1 class="post__title">{{ title }}</h1>
        <div class="post__intro">{{ description | renderMarkdown | safe }}</div>
        {{ content | safe }}
    </article>
{% endblock %}