---
title: Activity
pagination:
  data: collections.activity_en
  size: 20
eleventyNavigation:
  key: Activity
permalink: "en/activity/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
---

{% include "../../../_includes/partials/activity.njk" %}
