.info,
.alert {
  padding: 1rem;
  background-color: var(--background-light);
  color: var(--text);
}

:is(.info, .alert) > * + * {
  margin-block-start: var(--space-s-m);
}

.info {
  border-inline-start: 0.3rem solid currentColor;
}

@media (prefers-color-scheme: dark) {
  .info,
  .alert {
    color: var(--text);
  }
}

.alert {
  border-inline-start: 0.3rem solid var(--danger);

  strong {
    color: var(--danger);
  }
}

