.alert {
  padding: 1rem;
  border-inline-start: 0.3rem solid currentColor;
  background-color: #dddbcc;
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  .alert {
    color: var(--text);
    background-color: #2d4360;
  }
}
