.blog .post-list {
  position: relative;

  &::before {
    content: "";
    height: 1px;
    background-color: var(--text-light);
    position: absolute;
    right: 0;
    left: 0;
    width: 50%;
    margin-inline: auto;
    top: 0;
  }
}