.post-list__item .meta {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.meta p {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.item__link {
  display: inline-block;
}
