.footer {
  margin-block-start: auto;
  background-color: var(--text);
  color: var(--background);
  font-size: var(--s--1);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-l-xl);
  justify-content: center;
}

.footer__info {
  text-align: center;
  margin-block-end: var(--space-xs-s);
}

.footer__navigation {
  display: flex;
  gap: var(--space-xs-s);
}

@media screen and (min-width: 43.3rem) {
  .footer-wrapper {
    justify-content: space-between;
  }
}
