.header {
  a {
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--space-l-xl);
    row-gap: var(--space-s-m);
    align-items: center;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs-s);

    ul {
      display: flex;
      gap: var(--space-xs-s);
      list-style: none;
      padding: 0;
    }
  }
}

@media screen and (min-width: 44.7rem) {
  .header__inner {
    justify-content: space-between;
  }
}
