.header {
  a {
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--space-l-xl);
    row-gap: var(--space-s-m);
    align-items: center;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs-s);

    ul {
      display: flex;
      gap: var(--space-xs-s);
      list-style: none;
      padding: 0;
    }
  }
}

.christmas {
  position: relative;

  &::before {
    content: "";
    inline-size: 30px;
    block-size: 30px;
    background-size: cover;
    position: absolute;
    inset-inline-start: -10px;
    background-image: url('../images/bonnet.png');
    inset-block-start: -3px;
  }
}


@media screen and (min-width: 44.7rem) {
  .header__inner {
    justify-content: space-between;
  }
}
