.header {
  a {
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-s-m);
    align-items: center;
  }

  &__navigation {
    display: flex;
    gap: var(--space-xs-s);

    ul {
      display: flex;
      gap: var(--space-xs-s);
      list-style: none;
      padding: 0;
    }
  }
}