.footer {
  margin-block-start: auto;
  background-color: var(--text);
  color: var(--background);
  font-size: var(--s--1);
}

.footer-wrapper {
  display: flex;
  gap: var(--space-xs-s);
  justify-content: space-between;
}

.footer__info {
  display: flex;
  justify-content: center;
  margin-block-end: var(--space-xs-s);
}

.footer__navigation {
  display: flex;
  gap: var(--space-xs-s);
  justify-content: center;
}
