<footer class="footer pb-xs">
  <div class="wrapper footer-wrapper">
    <div>
      {{ footer[locale].created | renderMarkdown | safe }}
    </div>

    <ul class="footer__navigation">
      <li><a href="/{{ locale }}/feed.xml">RSS</a></li>
      <li><a href="https://indieweb.social/@jcletousey" rel="me">Mastodon</a></li>
    </ul>
  </div>
</footer>