<header class="header">
  <div class="wrapper header__inner">
    <a href="/{{ locale }}/" aria-label="{{ header[locale].goHomepage }}">
      {{ site.name }}
    </a>

    <nav>
      {% set navPages = collections["pages_" + locale] | eleventyNavigation %}
      {% if navPages.length > 0 %}
      <ul role="list">
      {% for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}

      {% for key, text in site.locales %}
        {% if key != locale %}
        <a href="/{{ key }}/" title="{{ header[key].changeLanguage }}">{{ text }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>