<header class="header" role="banner">
  <a class="header__brand" href="/{{ locale }}/" aria-label="{{ header[locale].goToHomepage }}">
    {{ site.name }}
  </a>

  <nav class="header__nav" role="navigation">
    {% set navPages = collections["all_" + locale] | eleventyNavigation %}
    <ul class="nav__menu">
    {% for entry in navPages %}
      <li class="nav__item">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {% endfor %}
    </ul>

    <div class="nav__languages">
    {% for key in locales %}
      {% if key != locale %}
        {% set translationUrl = translationUrls[key] if translationUrls[key] else "/" + key + "/" %}
      <a href="{{ translationUrl | url }}" title="{{ text }}">{{ key | upper }}</a>
      {% endif %}
    {% endfor %}
    </div>
  </nav>
</header>