<header class="header pb-s pi-0">
  <div class="wrapper header__inner">
    <a href="/{{ locale }}/" aria-label="{{ header[locale].goHomepage }}" class="h-card" rel="me">
      {{ site.title }}
    </a>

    <nav class="header__navigation">
      {% set navPages = collections["pages_" + locale] | eleventyNavigation %}
      {% if navPages.length > 0 %}
      <ul role="list" class="p-0">
      {% for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}

      {% renderWebC %}
      <div class="i18n">
        <language-selector webc:nokeep :locales="locales" :locale="locale"></language-selector>
      </div>
      {% endrenderWebC %}

      {% include "partials/components/theme_selector.njk" %}
    </nav>
  </div>
</header>