{% set previousPost = collections["posts_" + locale] | getPreviousCollectionItem(page) %}
{% set nextPost = collections["posts_" + locale] | getNextCollectionItem(page) %}
<div class="page-content prev-next">
{% if previousPost %}
  <div class="prev-next__item">
    <span class="prev-next__desc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg> Previous:</span>
    <a class="prev-next__link" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    <time class="prev-next__date" datetime="{{ previousPost.data.date }}">{{ previousPost.data.date | formatDate }}</time>
  </div>
{% endif %}
{% if nextPost %}
  <div class="prev-next__item prev-next__item--last">
    <span class="prev-next__desc">Next: <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg></span>
    <a class="prev-next__link" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    <time class="prev-next__date" datetime="{{ nextPost.data.date }}">{{ nextPost.data.date | formatDate }}</time>
  </div>
{% endif %}
</div>