{% if translations %}
  {% for translation in translations %}
    <a lang="{{ translation.locale }}" href="{{ translation.url }}" hreflang="{{ translation.locale }}" title="{{ header[translation.locale].changeLanguage }}">
      {{ site.locales[translation.locale] }}
    </a>
  {% endfor %}
{% else %}
  {% for key, text in site.locales %}
    {% if key != locale %}
      <a lang="{{ key }}" href="/{{ key }}/" hreflang="{{ key }}" title="{{ header[key].changeLanguage }}">
        {{ text }}
      </a>
    {% endif %}
  {% endfor %}
{% endif %}