{% for link in page.url | locale_links %}
<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
  {{ site.locales[link.lang] }}</a
>
{% else %}
  {% for key, text in site.locales %}
    {% if key != locale %}
      <a lang="{{ key }}" href="/{{ key }}/" hreflang="{{ key }}" title="{{ header[key].changeLanguage }}">
        {{ text }}
      </a>
    {% endif %}
  {% endfor %}
{% endfor %}