.header,
.footer {
  padding: 2rem 0;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
  margin-inline-start: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

.intro {
  margin-block-start: 3rem;
  margin-block-end: 5rem;

  p {
    font-family: var(--font-serif);
    line-height: 2.1;
    color: var(--text-light);
  }
}

.footer {
  text-align: center;
}
