/* bevan-regular - latin */
@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/bevan-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/bevan-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  
  
/* libre-franklin-300 - latin */
@font-face {
  font-family: 'Libre Franklin Thin';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/libre-franklin-v11-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/libre-franklin-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/libre-franklin-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/libre-franklin-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-700 - latin */
@font-face {
  font-family: 'Libre Franklin Bold';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/libre-franklin-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/libre-franklin-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/libre-baskerville-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/libre-baskerville-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  