body {
  font-size: var(--s-0);
  font-family: "Libre Franklin Thin", Arial, Helvetica, sans-serif;
  color: var(--text);
}

h1 {
  font-family: Bevan;
  font-size: var(--s-4);
}

h2 {
  font-family: var(--font-serif);
  font-size: var(--s-2);
}

a {
  color: var(--primary);

  &:hover, &:focus {
    color: var(--text);
  }
}

.footer a {
  &:hover, &:focus {
    color: var(--primary);
    font-weight: 600;
  }
}
