body {
  font-size: 1rem;
  font-family: "Libre Franklin Thin", Arial, Helvetica, sans-serif;
  color: var(--text);
}

h1 {
  font-family: Bevan;
  font-size: 2.75rem;
}

a {
  color: var(--primary);

  &:hover {
    color: var(--text);
  }
}
