body {
  font-size: var(--s-0);
  font-family: "Libre Franklin Thin", Arial, Helvetica, sans-serif;
  color: var(--text);
}

h1 {
  font-family: Bevan;
  font-size: var(--s-4);
}

h2 {
  font-family: var(--font-serif);
  font-size: var(--s-2);
}

a {
  color: var(--primary);
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.3em;
  transition: color 300ms, text-underline-offset 300ms;

  &:hover,
  &:focus {
    color: var(--text);
    text-underline-offset: 0.4em;
  }
}

p {
  letter-spacing: 0.05rem;
}

code {
  background-color: #435368;
  border-radius: 0.25em;
  padding: 0 0.4em;
  font-size: 90%;
}

.footer a {
  &:hover,
  &:focus {
    color: var(--primary);
    font-weight: 600;
  }
}
