@use "mixins";

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  block-size: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inline-size: 1px;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  top: 0;
  z-index: 99;
  display: inline-block;
  padding: 0.5rem 2rem;
  background: var(--text);
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: var(--background);
  }

  &:not(:focus) {
    @extend .visually-hidden;
  }
}

.wrapper {
  inline-size: 90vw;
  inline-size: clamp(16rem, 93vw, 75rem);
  margin-inline: auto;
  padding-inline: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  position: relative;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 2.5rem);
}

.icon {
  block-size: var(--s-0);
  inline-size: var(--s-0);
}

$types: "0", "3xs", "2xs", "xs", "s", "m", "l", "xl", "xxl";
$sizes: "0", var(--space-3xs-2xs), var(--space-2xs-xs), var(--space-xs-s),
  var(--space-s-m), var(--space-m-l), var(--space-l-xl), var(--space-xl-2xl),
  var(--space-2xl-3xl);

@include mixins.spacing("m", "margin", $types, $sizes);
@include mixins.spacing("mi", "margin-inline", $types, $sizes);
@include mixins.spacing("mb", "margin-block", $types, $sizes);
@include mixins.spacing("mbs", "margin-block-start", $types, $sizes);
@include mixins.spacing("mbe", "margin-block-end", $types, $sizes);
@include mixins.spacing("p", "padding", $types, $sizes);
@include mixins.spacing("pi", "padding-inline", $types, $sizes);
@include mixins.spacing("pb", "padding-block", $types, $sizes);
@include mixins.spacing("pbs", "padding-block-start", $types, $sizes);
@include mixins.spacing("pbe", "padding-block-end", $types, $sizes);
