:root {
    --color-primary: #ff8887;
    --color-secondary: #4ae1ff;
    --color-text: #e3f5fb;
    --color-back: #044054;
}

html {
    box-sizing: border-box;
}

 *,
 ::before,
 ::after {
   box-sizing: inherit;
 }

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-back);
    color: var(--color-text);
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.2rem;
}

body::before {
    content: "";
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 2;
    border: 10px solid var(--color-text);
    border-image: repeating-linear-gradient(
        135deg,
        var(--color-primary),
        var(--color-primary) 20px,
        var(--color-text) 20px,
        var(--color-text) 40px,
        var(--color-secondary) 40px,
        var(--color-secondary) 60px
        )
        10;
}

main:focus {
    outline: none;
}
h1 {
    font-family: "Lobster", cursive;
    font-size: 4rem;
}

a {
    color: var(--color-primary);
}

@import 'base/helpers';
@import 'base/fonts';
@import 'components/header';